.DS_Store
.idea
nbproject

/var/*
!/var/labels
/vendor
/public/*

/distributions/*/*
!/distributions/*/composer.*
!/distributions/*/dist.json
/distributions/local-*
/distributions/install/*
!/distributions/install/res
