.screenshots-manager {
    color: #333;
}
.screenshots-manager .placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(115, 115, 115);
    background-color: rgba(0, 0, 0, 0.05);
    border: 2px dashed rgba(0, 0, 0, 0.15);
}
