.screenshots-manager {
    color: #333;
}
.screenshots-manager .autocomplete-suggestion {
    cursor: pointer;
    color: rgba(245,245,245,.7);
    border: none;
}
.screenshots-manager .autocomplete-suggestion:hover {
    color: rgba(245,245,245,1);
}
.screenshots-manager .autocomplete-selected {
    color: rgba(245,245,245,1);
}
.screenshots-manager .placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(115, 115, 115);
    background-color: rgba(0, 0, 0, 0.05);
    border: 2px dashed rgba(0, 0, 0, 0.15);
}
